<div class="card">
  <div class="card-header">
    Add Timesheet
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-3">
        <button type="button" class="btn btn-success ">Previous week</button>
      </div>
      <div class="col-lg-6 text-center">
        Weekending: 03/18/2018
      </div>
      <div class="col-lg-3 text-right">
        <button type="button" class="btn btn-success">Next week</button>
      </div>
    </div>
    <div class="row margin-top-30">
      <div class="col-lg-3 text-right">

      </div>
      <div class="col-lg-1 text-center">
        Mon
      </div>
      <div class="col-lg-1 text-center">
        Tue
      </div>
      <div class="col-lg-1 text-center">
        Wed
      </div>
      <div class="col-lg-1 text-center">
        Thu
      </div>
      <div class="col-lg-1 text-center">
        Fir
      </div>
      <div class="col-lg-1 text-center">
        Sat
      </div>
      <div class="col-lg-1 text-center">
        Sun
      </div>

    </div>
    <div class="row margin-top-15">
      <div class="col-lg-3 text-right">
        Regular Hours
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" placeholder="Hour">
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" placeholder="Hour">
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" placeholder="Hour">
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" placeholder="Hour">
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" placeholder="Hour">
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" placeholder="Hour">
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" placeholder="Hour">
      </div>
    </div>
    <div class="row margin-top-15">
      <div class="col-lg-3 text-right">
        Overtime Hours
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" placeholder="Hour">
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" placeholder="Hour">
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" placeholder="Hour">
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" placeholder="Hour">
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" placeholder="Hour">
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" placeholder="Hour">
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" placeholder="Hour">
      </div>
    </div>
    <div class="row margin-top-15">
      <div class="col-lg-3 text-right">

      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-success btn-sm">Upload support docs</button>
      </div>
    </div>
    <div class="row margin-top-15">
      <div class="col-lg-3 text-right">

      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>