<div class="card">
  <div class="card-header">
    Add Timesheet
  </div>
  <div class="card-body">
      <!-- <label class="btn btn-default">
          <input type="file" (change)="selectFile($event)">
        </label>
         
        <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button> -->
    <div class="row">
      <div class="col-lg-3">
        <button type="button" (click)="previousWeek()" class="btn btn-success ">Previous week</button>
      </div>
      <div class="col-lg-6 text-center">
        Weekending: {{endOfWeek | date:'MM/dd/yyyy'}}
      </div>
      <div class="col-lg-3 text-right">
        <button type="button" (click)="nextWeek()" class="btn btn-success">Next week</button>
      </div>
    </div>
    <form [formGroup]="timesheet" (submit)="testsubmit(timesheet)">
      <div class="row margin-top-30">
        <div class="col-lg-3 text-right">

        </div>
        <div class="col-lg-1 text-center">
          Mon
        </div>
        <div class="col-lg-1 text-center">
          Tue
        </div>
        <div class="col-lg-1 text-center">
          Wed
        </div>
        <div class="col-lg-1 text-center">
          Thu
        </div>
        <div class="col-lg-1 text-center">
          Fir
        </div>
        <div class="col-lg-1 text-center">
          Sat
        </div>
        <div class="col-lg-1 text-center">
          Sun
        </div>

      </div>
      <div class="row margin-top-15">
        <div class="col-lg-3 text-right">
          Regular Hours
        </div>
        <div class="col-lg-1">
          <input type="text" [readonly]="isDisable.mon=='2'" formControlName="mon" (keyup)="validateValue('mon')" limit-to="1" class="form-control" placeholder="Hour">
        </div>
        <div class="col-lg-1">
          <input type="text" [readonly]="isDisable.tue=='2'" formControlName="tue" (keyup)="validateValue('tue')" limit-to="1" class="form-control" placeholder="Hour">
        </div>
        <div class="col-lg-1">
          <input type="text" [readonly]="isDisable.wed=='2'" formControlName="wed" (keyup)="validateValue('wed')" limit-to="1" class="form-control" placeholder="Hour">
        </div>
        <div class="col-lg-1">
          <input type="text" [readonly]="isDisable.thu=='2'" formControlName="thu" (keyup)="validateValue('thu')" limit-to="1" class="form-control" placeholder="Hour">
        </div>
        <div class="col-lg-1">
          <input type="text" [readonly]="isDisable.fri=='2'" formControlName="fri" (keyup)="validateValue('fri')" limit-to="1" class="form-control" placeholder="Hour">
        </div>
        <div class="col-lg-1">
          <input type="text" [readonly]="isDisable.sat=='2'" formControlName="sat" (keyup)="validateValue('sat')" limit-to="1" class="form-control" placeholder="Hour">
        </div>
        <div class="col-lg-1">
          <input type="text" [readonly]="isDisable.sun=='2'" formControlName="sun" (keyup)="validateValue('sun')" limit-to="1" class="form-control" placeholder="Hour">
        </div>
      </div>
      <div class="row margin-top-15">
        <div class="col-lg-3 text-right">
          Overtime Hours
        </div>
        <div class="col-lg-1">
          <input type="text" [readonly]="isDisable.mon=='2'" formControlName="mono" (keyup)="validateValue('mono')" limit-to="1" class="form-control" placeholder="Hour">
        </div>
        <div class="col-lg-1">
          <input type="text" [readonly]="isDisable.tue=='2'" formControlName="tueo" (keyup)="validateValue('tueo')" limit-to="1" class="form-control" placeholder="Hour">
        </div>
        <div class="col-lg-1">
          <input type="text" [readonly]="isDisable.wed=='2'" formControlName="wedo" (keyup)="validateValue('wedo')" limit-to="1" class="form-control" placeholder="Hour">
        </div>
        <div class="col-lg-1">
          <input type="text" [readonly]="isDisable.thu=='2'" formControlName="thuo" (keyup)="validateValue('thuo')" limit-to="1" class="form-control" placeholder="Hour">
        </div>
        <div class="col-lg-1">
          <input type="text" [readonly]="isDisable.fri=='2'" formControlName="frio" (keyup)="validateValue('frio')" limit-to="1" class="form-control" placeholder="Hour">
        </div>
        <div class="col-lg-1">
          <input type="text" [readonly]="isDisable.sat=='2'" formControlName="sato" (keyup)="validateValue('sato')" limit-to="1" class="form-control" placeholder="Hour">
        </div>
        <div class="col-lg-1">
          <input type="text" [readonly]="isDisable.sun=='2'" formControlName="suno" (keyup)="validateValue('suno')" limit-to="1" class="form-control" placeholder="Hour">
        </div>
      </div>
      <div class="row margin-top-15">
        <div class="col-lg-3 text-right">
          Note
        </div>
        <div class="col-lg-7">
          <textarea class="form-control" limit-to="200" formControlName="notes" placeholder="Notes"></textarea>
        </div>
      </div>
      <div class="row margin-top-15">
        <div class="col-lg-3 text-right">

        </div>
        <div class="col-lg-2">
          <!-- <button type="button" class="btn btn-outline-info btn-sm">Upload support docs</button> -->
          <label class="btn btn-default">
              <input type="file" (change)="selectFile($event)">
            </label>
        </div>
      </div>
      <div class="row margin-top-15">
        <div class="col-lg-3 text-right">

        </div>
        <div class="col-lg-2">
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
    </form>
    
  </div>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <h5>Your timesheet data added as per below:</h5>
    <p *ngFor="let x of resultData">{{x}}</p>
    <button type="button" class="btn btn-primary" (click)="decline()">OK</button>
  </div>
</ng-template>