<div class="forgot-password-page">
  <div class="login-content">
    <div class="col-md-4">
      <div class="card card-default">
        <!-- <img src="assets/images/logo.png" width="150px" class="user-avatar" /> -->
        <h2 class="login-title"> Forgot Password</h2>
        <form role="form">
          <div class="form-content">
            <div class="form-group">
              <input type="email" class="form-control input-underline input-lg" placeholder="Email">
            </div> 
          </div>
          <button type="button" [routerLink]="['/']" class="btn btn-primary login-btn">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>