/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

/** Custome css for datatable start**/
table.dataTable.no-footer{
    border: 1px solid #dfdfdf;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td{
    border-right: 1px solid #dddddd;
    //border-bottom: 1px solid #dddddd;
}
table.dataTable thead th, table.dataTable thead td{
    padding: 10px 8px;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.dataTables_wrapper .dataTables_filter input,.dataTables_wrapper select{
    padding: .375rem .75rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color: #ffffff !important;
    border: 1px solid #00b94a;
    background-color: #00b94a;
    background: -webkit-gradient(linear, left top, left bottom, from(#00b94a), to(#00b94a));
    background: linear-gradient(to bottom, #00b94a 0%, #00b94a 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    color: #040404 !important;
    border: 1px solid #dddddd;
    background-color: #dddddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#dddddd));
    background: linear-gradient(to bottom, #dddddd, #dddddd 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{
    outline: none;
    background-color: #dddddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#dddddd));
    background: linear-gradient(to bottom, #DDDDDD 0%, #dddddd 100%);
    -webkit-box-shadow: inset 0 0 3px #dddddd;
    box-shadow: inset 0 0 3px #dddddd;
}

.dataTable{
    .fa{
        font-size: 20px;
        margin: 0px 5px;
    }
    .fa-pencil-square-o{
        color: green;
    }
    .fa-trash-o{
        color: firebrick;
    }
}
/** Custome css for datatable end**/

.invalid{
    border-color: #a9494d;
}
span.required {
    color: red;
}
.modal-large{
    max-width: 90% !important;
}